<% @clozes.each do |cloze| %>
  <%= sanitize(cloze.text) %>
  <% cloze.cloze_children.each do |questions| %>
    <span class="question_number"><%= questions["position"].to_s+"." %></span>
    <% questions['choices'].each do |choice| %>
      <span class="question_list"><%= choice %></span><br/>
    <% end %>
    <span><b>The right answer:</b></span><span><%= questions['answer'] %></span><br/>
    <span><b>Your answer:</b></span><span><%= params[:result]["cloze_"+cloze.id+"_"+questions["position"].to_s] %></span><br/>
  <% end %>
<% end %>
